@font-face {
    font-family: Cairo;
    src: url('/odoo_font/static/src/fonts/CairoSemiBold600.ttf');
  }
  .header{
    font-family: 'Cairo','Open Sans';
  }
  .page{
    font-family: 'Cairo','Open Sans';
  }
  .footer{
    font-family: 'Cairo','Open Sans';
  }
  body{
    font-family: 'Cairo','Open Sans' !important; 
  }
  .article{
    font-family: 'Cairo','Open Sans' !important; 
  }